<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Optiwork - Salary statement</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link
      rel="stylesheet"
      href="{%static 'bootstrap/css/bootstrap.min.css'%}"
    />
    <link rel="stylesheet" href="{% static 'css/salarystatement.css' %}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="row">
      <div
        class="col-lg-6"
        style="display: flex; justify-content: left; margin-top: 20px"
      >
        <h1 id="logo">OPTI<span id="logo-1">WORK</span></h1>
      </div>
      <div
        class="col-lg-6"
        style="display: flex; justify-content: right; margin-top: 20px"
      >
        <ul>
          <li>
            <a href="{%url 'home'%}" id="nav">HOME</a>
          </li>
          <li>
            <a href="{%url 'aboutus'%}" id="nav">ABOUT US</a>
          </li>
          <li>
            <a href="{%url 'login'%}" id="nav">LOGOUT</a>
          </li>
          <li>
            <a href="{%url 'contact'%}" id="nav">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6" style="display: flex; justify-content: left">
        <a href="{%url 'employeemanage'%}"
          ><button id="back">
            <img src="{%static 'images\Back.png'%}" alt="" width="30px" />BACK
          </button></a
        >
      </div>
    </div>

    <h1 id="leave-title">Change <span id="leave-span"> Password</span></h1>
    <form action="" method="POST">
      {%csrf_token%}
      <div class="row">
        <div class="col-lg-6">
          <h1
            style="
              font-family: 'poppins';
              font-weight: 800;
              text-align: center;
              color: white;
            "
          >
            OLD PASSWORD
          </h1>
          <div
            style="display: flex; justify-content: center; align-items: center"
          >
            <div class="glass3" style="width: 70%">
              <input
                type="text"
                name="oldpass"
                id="oldpass"
                style="
                  border: 0;
                  background-color: transparent;
                  color: white;
                  width: 70%;
                  border-radius: 20px;
                  outline: 0;
                  font-family: 'poppins';
                  font-size: 30px;
                "
                placeholder="Enter Old Password"
              />
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <h1
            style="
              font-family: 'poppins';
              font-weight: 800;
              text-align: center;
              color: white;
            "
          >
            NEW PASSWORD
          </h1>
          <div
            style="display: flex; justify-content: center; align-items: center"
          >
            <div class="glass3" style="width: 70%">
              <input
                type="text"
                name="newpass"
                id="newpass"
                style="
                  border: 0;
                  background-color: transparent;
                  color: white;
                  width: 70%;
                  outline: 0;
                  font-family: 'poppins';
                  font-size: 30px;
                "
                placeholder="Enter New Password"
              />
            </div>
          </div>
        </div>
      </div>
      <div style="display: flex; justify-content: center; align-items: center">
        <div class="glass3" style="padding: 5px 10px; border-radius: 20px">
          <input
            type="submit"
            value="Submit"
            style="
              font-family: 'poppins';
              font-size: 20px;
              color: white;
              cursor: pointer;
              background-color: transparent;
            "
          />
        </div>
      </div>
    </form>
  </body>
</html>
